EjbExercise/Source/XSDs/InputKirim.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InputKirim">
    <xs:complexType>
      <xs:sequence>
              <xs:element type="xs:long" name="AccountFrom"/>
              <xs:element type="xs:long" name="AccountTo"/>
              <xs:element type="xs:long" name="Amount"/>
              <xs:element type="xs:string" name="Notes"/>
              <xs:element type="xs:long" name="BranchCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>